[submodule "CmdLineOptions"]
	path = CmdLineOptions
	url = https://github.com/byronwatt/CmdLineOptions.git
[submodule "test/libs/bats-support"]
	path = test/libs/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "test/libs/bats-assert"]
	path = test/libs/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest.git@release-1.12.1

